# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / Packaging
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Environment and Secrets
.env
.env.local

# Project Specific
data/private/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
